* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
}

.h-container {
  -ms-grid-rows: 2.75rem 18.94rem;
  grid-template-rows: 2.75rem 18.94rem;
}

/*-----------------------------------------------------------------------------------*/
/*  Mobile first
/*-----------------------------------------------------------------------------------*/
/*--  Header--*/
nav {
  -ms-grid-row: 1;
  grid-row: 1;
  width: 100%;
  z-index: 100;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
  background-color: #ffffff;
}

nav .logo {
  width: 1.5rem;
  height: 1.5rem;
  float: left;
  display: block;
  padding: 0.625rem 1rem;
}

nav .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #0000ec;
  clear: both;
  max-height: 0;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}

nav .menu li {
  line-height: 28px;
}

nav .menu a {
  display: block;
  text-decoration: none;
  padding: 5%;
  color: #ffffff;
}

nav .menu a:hover {
  color: #00f3bb;
  text-decoration: line-through;
}

nav .menu a:active {
  color: rgba(6, 10, 36, 0.56);
  text-decoration: line-through;
}

nav .menu-icon {
  padding: 22px 19px;
  position: relative;
  float: right;
  cursor: pointer;
}

nav .menu-icon .nav-icon {
  background-color: #060a24;
  display: block;
  width: 18px;
  height: 2px;
  position: relative;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

nav .menu-icon .nav-icon:before {
  background-color: #060a24;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 5px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

nav .menu-icon .nav-icon:after {
  background-color: #060a24;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -5px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

nav .menu-btn {
  display: none;
}

nav .menu-btn:checked ~ .menu {
  max-height: 100%;
}

nav .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

nav .menu-btn:checked ~ .menu-icon .nav-icon:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
}

nav .menu-btn:checked ~ .menu-icon .nav-icon:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
}

/*--  Hero--*/
.main-container {
  -ms-grid-row: 2;
  grid-row: 2;
  padding-top: 1.81rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
  font-family: "IBM Plex Sans", sans-serif;
  background: #ffffff;
}

.main-container .title-container {
  padding-bottom: 1rem;
}

.main-container .title-container h1 {
  font-size: 36px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 400;
}

.main-container .title-container h1 #holamundo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container .title-container h1 del {
  padding-left: 1rem;
  text-decoration: line-through;
  font-size: 36px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 400;
}

.main-container p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 22px;
  text-align: justify;
  font-weight: 400;
  padding-bottom: 2.25rem;
}

.main-container a {
  width: 18rem;
  height: 3rem;
  padding: 0.81rem 6rem;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  background: #00f3bb;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-size: 16px;
  color: #060a24;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  border: none;
}

.main-container a {
  text-decoration: none;
  color: #060a24;
}

.main-container a:hover {
  background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
  color: #ffffff;
}

/*--  Episodios--*/
.episodios-container {
  position: relative;
  height: 81.25rem;
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  -webkit-clip-path: polygon(0 3%, 100% 0, 100% 95%, 0 100%);
  clip-path: polygon(0 3%, 100% 0, 100% 95%, 0 100%);
  margin-top: 1.5rem;
}

.episodios-container h1 {
  padding-top: 4rem;
  padding-left: 1rem;
  padding-bottom: 1.31rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 400;
}

.episodios-container .podcast-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  margin: 0.69rem;
}

.episodios-container .podcast-container .podcast {
  width: 100%;
  height: 14.5rem;
  padding-bottom: 11px;
  padding-top: 11px;
  border: 0;
}

/*--  De donde venimos --*/
.dedondevenimos-container {
  display: -ms-grid;
  display: grid;
}

.dedondevenimos-container .phone-container {
  -webkit-transform: translateY(-120px);
  transform: translateY(-120px);
  width: 100%;
}

.dedondevenimos-container .phone-container img {
  width: 100%;
  z-index: 900;
}

.dedondevenimos-container .text-container {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: -5rem;
}

.dedondevenimos-container .text-container h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 400;
}

.dedondevenimos-container .text-container h1 .h1-d {
  width: 50%;
}

.dedondevenimos-container .text-container p {
  padding-top: 0.5rem;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 22px;
}

/*--  Invitados --*/
.invitados-container {
  margin-top: 3.86rem;
}

.invitados-container h1 {
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 400;
}

.invitados-container .images-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.invitados-container .images-container img {
  width: 100%;
  margin-bottom: -5px;
  padding: 0;
}

/*--  Temas --*/
.temas-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.temas-container h1 {
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 400;
}

.temas-container .icon-container {
  width: 100%;
  margin-top: 1.5rem;
}

.temas-container .icon-container .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 3.06rem;
  margin-bottom: 3.06rem;
}

.temas-container .icon-container .icon img {
  width: 6.5rem;
  height: 6.5rem;
  padding-top: 0.81rem;
  padding-bottom: 0.81rem;
}

.temas-container .icon-container .icon h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #060a24;
  letter-spacing: 0;
  text-align: center;
}

/*--  Novedades --*/
.novedades-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 21.31rem;
  -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 100%);
  clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 100%);
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  margin-top: 2.63rem;
}

.novedades-container h1 {
  padding-top: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 42px;
  font-weight: 400;
}

.novedades-container a {
  margin-top: 2.25rem;
  margin-right: 1rem;
  margin-left: 1rem;
  box-sizing: border-box;
  width: 288px;
  height: 48px;
  padding: 13px 43px;
  background: #00f3bb;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-size: 16px;
  color: #060a24;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  border: none;
}

.novedades-container a {
  text-decoration: none;
  color: #060a24;
}
.novedades-container a:hover {
  background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
  color: #ffffff;
}

/*--  Footer --*/
.footer-container {
  width: 100%;
  height: 7.56rem;
}

.footer-container p {
  padding-top: 1.5rem;
  padding-left: 2.94rem;
  padding-right: 2.88rem;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
  font-weight: 400;
}

.footer-container .footer-icon-container {
  padding-left: 1.81rem;
  padding-right: 1.81rem;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.footer-container .footer-icon-container a {
  color: #060a24;
}

.footer-container .footer-icon-container i {
  width: 1rem;
}

/*-----------------------------------------------------------------------------------*/
/*  Desktop
/*-----------------------------------------------------------------------------------*/
/*--  Header--*/
@media screen and (min-width: 1260px) {
  .h-container {
    -ms-grid-rows: 45.75em 23.06rem;
    grid-template-rows: 45.75em 23.06rem;
  }
  nav {
    -ms-grid-row: 1;
    grid-row: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 6.25rem;
    padding-right: 6.25rem;
  }
  nav .logo {
    width: 36px;
    height: 36px;
    padding: 22px;
  }
  nav .menu {
    clear: none;
    float: right;
  }
  nav .menu li {
    float: left;
  }
  nav .menu li a {
    font-size: 16px;
    color: #060a24;
    padding: 22px;
    background-color: #ffffff;
  }
  nav .menu-icon {
    display: none;
  }
  /*--  Hero--*/
  .main-container {
    -ms-grid-row: 2;
    grid-row: 2;
    padding-top: 7.5rem;
    padding-left: 12.5rem;
    padding-right: 0;
    padding-bottom: 0;
  }
  .main-container .title-container h1 {
    font-size: 64px;
  }
  .main-container .title-container h1 #holamundo {
    display: inline;
  }
  .main-container .title-container h1 del {
    font-size: 64px;
  }
  .main-container .title-container h1 #punto {
    color: #0000ec;
  }
  .main-container .p-container {
    padding-top: 1%;
    width: 39.25rem;
  }
  .main-container .p-container p {
    font-size: 16px;
    color: #060a24;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 2rem;
  }
  .main-container a {
    margin-bottom: 0.31rem;
    width: 226px;
    height: 56px;
    padding: 16px 59px;
    font-size: 18px;
    line-height: 24px;
  }
  /*--  Episodios--*/
  .episodios-container {
    height: 68.5rem;
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  }
  .episodios-container h1 {
    padding-top: 11.63rem;
    padding-left: 12.5rem;
    padding-bottom: 1.63rem;
    font-size: 48px;
  }
  .episodios-container .podcast-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding-left: 6.25rem;
    padding-right: 6.25rem;
  }
  .episodios-container .podcast-container .podcast {
    width: 44%;
    margin: 2.25rem;
  }
  /*--  De donde venimos--*/
  .dedondevenimos-container {
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
  }
  .dedondevenimos-container .phone-container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -webkit-transform: translateY(-170px);
    transform: translateY(-170px);
    width: 100%;
    padding-left: 12.5rem;
  }
  .dedondevenimos-container .phone-container img {
    width: 60%;
    z-index: 900;
  }
  .dedondevenimos-container .text-container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    margin-left: 0;
    margin-right: 16rem;
    margin-top: 1.28rem;
  }
  .dedondevenimos-container .text-container h1 {
    font-size: 48px;
  }
  .dedondevenimos-container .text-container p {
    width: 29rem;
    padding-top: 1.5rem;
    font-size: 16px;
    line-height: 24px;
  }
  /*--  Invitados--*/
  .invitados-container {
    margin-top: -4rem;
  }
  .invitados-container h1 {
    margin-left: 12.5rem;
    margin-bottom: 2.25rem;
    font-size: 48px;
  }
  .invitados-container .images-container {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .invitados-container .images-container img {
    width: 100%;
    margin-bottom: -5px;
    padding: 0;
  }
  /*--  Temas --*/
  .temas-container {
    margin-top: 4rem;
    margin-bottom: 4.13rem;
  }
  .temas-container h1 {
    margin-left: 12.5rem;
    margin-bottom: 0;
    font-size: 48px;
  }
  .temas-container .icon-container {
    width: 100%;
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .temas-container .icon-container .icon {
    margin-top: 4.31rem;
    margin-bottom: 2.13rem;
  }
  .temas-container .icon-container .icon img {
    padding-left: 4.88rem;
    padding-right: 4.88rem;
    padding-top: 0.81rem;
    padding-bottom: 0.81rem;
  }
  .temas-container .icon-container .icon .h2-mitad {
    width: 55%;
  }
  /*--  Novedades --*/
  .novedades-container {
    height: 32.38rem;
    -webkit-clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0 100%);
    clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0 100%);
    margin-top: 0;
  }
  .novedades-container h1 {
    padding-top: 13.21rem;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-size: 48px;
  }
  .novedades-container a {
    width: 345px;
    height: 56px;
    padding: 16px 59px;
    font-size: 18px;
    line-height: 24px;
  }
  /*--  Footer --*/
  .footer-container {
    height: 5.94rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .footer-container p {
    padding-top: 2.25rem;
    padding-bottom: 1.94rem;
    padding-left: 6.25rem;
    padding-right: 0;
    font-size: 16px;
    line-height: 28px;
  }
  .footer-container .footer-icon-container {
    padding-left: 0;
    padding-right: 6.25rem;
    padding-top: 2.25rem;
    padding-bottom: 1.94rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .footer-container .footer-icon-container i {
    width: 1.13rem;
    padding-left: 2.25rem;
  }
}

/*--  HACER MEDIA QUERY PARA TABLET MIN-WIDTH 768--*/
/*# sourceMappingURL=styles.css.map */
