/*-----------------------------------------------------------------------------------*/
/*  Desktop
/*-----------------------------------------------------------------------------------*/

/*--  Header--*/
@media screen and (min-width: 768px) {
  .h-container {
    grid-template-rows: 45.75em 23.06rem;
  }
  nav {
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    padding-left: 6.25rem;
    padding-right: 6.25rem;

    .logo {
      width: 36px;
      height: 36px;
      padding: 22px;
    }

    .menu {
      clear: none;
      float: right;

      li {
        float: left;

        a {
          font-size: 16px;
          color: #060a24;
          padding: 22px;
          background-color: $white;
        }
      }
    }

    .menu-icon {
      display: none;
    }
  }
  /*--  Hero--*/
  .main-container {
    grid-row: 2;
    padding-top: 7.5rem;
    padding-left: 12.5rem;
    padding-right: 0;
    padding-bottom: 0;

    .title-container {
      h1 {
        font-size: 64px;
        #holamundo {
          display: inline;
        }
        del {
          font-size: 64px;
        }
        #punto {
          color: $blue;
        }
      }
    }
    .p-container {
      padding-top: 1%;
      width: 39.25rem;
      p {
        font-size: 16px;
        color: $black;
        letter-spacing: 0;
        line-height: 24px;
        margin-bottom: 56px;
      }
    }
    a {
      margin-top: 3.5rem;
      margin-bottom: 0.31rem;
      width: 226px;
      height: 56px;
      padding: 16px 59px;
      font-size: 18px;
      line-height: 24px;
    }
  }
  /*--  Episodios--*/
  .episodios-container {
    height: 68.5rem;
    width: 100%;
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
    h1 {
      padding-top: 11.63rem;
      padding-left: 12.5rem;
      padding-bottom: 1.63rem;
      font-size: 48px;
    }
    .podcast-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0;
      padding-left: 6.25rem;
      padding-right: 6.25rem;

      .podcast {
        width: 44%;
        margin: 2.25rem;
      }
    }
  }
  /*--  De donde venimos--*/
  .dedondevenimos-container {
    grid-template-columns: 50% 50%;
    .phone-container {
      grid-column: 1/2;
      transform: translateY(-170px);
      width: 100%;
      padding-left: 12.5rem;
      img {
        width: 60%;
        z-index: 900;
      }
    }
    .text-container {
      grid-column: 2/3;
      margin-left: 0;
      align-items: center;
      justify-content: center;
      margin-top: 1.28rem;
      h1 {
        font-size: 48px;
      }
      p {
        width: 29rem;
        padding-top: 1.5rem;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  /*--  Invitados--*/
  .invitados-container {
    margin-top: -4rem;

    h1 {
      margin-left: 12.5rem;
      margin-bottom: 2.25rem;
      font-size: 48px;
    }

    .images-container {
      grid-template-columns: 1fr 1fr 1fr;
      img {
        width: 100%;
        margin-bottom: -5px;
        padding: 0;
      }
    }
  }
  /*--  Temas --*/
  .temas-container {
    margin-top: 4rem;
    margin-bottom: 4.13rem;
    h1 {
      margin-left: 12.5rem;
      margin-bottom: 0;
      font-size: 48px;
    }
    .icon-container {
      width: 100%;
      margin-top: 0;
      display: flex;
      justify-content: center;
      .icon {
        margin-top: 4.31rem;
        margin-bottom: 2.13rem;
        img {
          padding-left: 4.88rem;
          padding-right: 4.88rem;
          padding-top: 0.81rem;
          padding-bottom: 0.81rem;
        }
        .h2-mitad {
          width: 55%;
        }
      }
    }
  }
  /*--  Novedades --*/
  .novedades-container {
    height: 32.38rem;
    clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0 100%);
    margin-top: 0;

    h1 {
      padding-top: 13.21rem;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      font-size: 48px;
    }

    a {
      width: 345px;
      height: 56px;
      padding: 16px 59px;
      font-size: 18px;
      line-height: 24px;
    }
  }
  /*--  Footer --*/
  .footer-container {
    height: 5.94rem;
    display: flex;
    justify-content: space-between;
    p {
      padding-top: 2.25rem;
      padding-bottom: 1.94rem;
      padding-left: 6.25rem;
      padding-right: 0;
      font-size: 16px;
      line-height: 28px;
    }
    .footer-icon-container {
      padding-left: 0;
      padding-right: 6.25rem;
      padding-top: 2.25rem;
      padding-bottom: 1.94rem;
      display: flex;
      justify-content: space-around;
      i {
        width: 1.13rem;
        padding-left: 2.25rem;
      }
    }
  }
}
