/*-----------------------------------------------------------------------------------*/
/*  Variables
/*-----------------------------------------------------------------------------------*/

/*--  Colores--*/
$blue: #0000ec;
$aqua: #00f3bb;
$black: #060a24;
$white: #ffffff;

/*--  Tipografías--*/
$mono: "IBM Plex Mono", monospace;
$sans: "IBM Plex Sans", sans-serif;
